.note{
text-align: center;
padding: 10vw;
background-color: black;
color: red;
padding-top: 1vh;
}
.continue-button,.Button{
background-color: white;
padding: 2vw;
border-radius: 14%;
font-size: 4vw;
}